<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="it.cascino.inventariomerce"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--android:icon="@mipmap/ic_launcher"-->
    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/inv"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SyncActivity"
            android:label="Selezione sorgente dati">
            <action android:name="android.intent.action.ANOTHER_ACTIVITY"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </activity>
        <activity
            android:name=".activity.AggiungiArticoloDaBarcodeActivity"
            android:label="Aggiungi Articolo">
            <action android:name="android.intent.action.ANOTHER_ACTIVITY"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </activity>
        <activity
            android:name=".activity.ModificaArticoloActivity"
            android:label="Gestione Articolo">
            <action android:name="android.intent.action.ANOTHER_ACTIVITY"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </activity>
    </application>

</manifest>
